{{ 'section-contact-form2-sec1.css' | asset_url | stylesheet_tag }}
{% style %}
  @font-face {
    font-family: poppinsbold;
    src: url("https://cdn.shopify.com/s/files/1/0870/1021/4194/files/YesevaOne-Regular_dc8f9cca-6870-4a03-a151-960e1771f562.ttf?v=1721383414");
}
  @font-face {
  font-family: yesevaoneregular;
  src: url("https://cdn.shopify.com/s/files/1/0870/1021/4194/files/YesevaOne-Regular_dc8f9cca-6870-4a03-a151-960e1771f562.ttf?v=1721383414");
}
  @font-face {
  font-family: Poppins;
  src: url(https://cdn.shopify.com/s/files/1/0870/1021/4194/files/Poppins-Regular_e94d337e-791d-4c21-8368-fd5fd396adc4.ttf?v=1721390311);
}
  .text-{{ section.id }}{
    padding-top: 35px;
    padding-bottom: 35px;
  }
 .heading-h1-{{ section.id }}{
     margin: -18px;
     font-size:50px;
     font-family: wild_mango;
  }
   .heading3-h1-{{ section.id }}{
     margin: -18px;
     font-siz:50px;
  }
  .heading2-h2-{{ section.id }}{
    color:#FF4545;
  font-family: Poppins;
  font-size:28px;
  }
  .c-faqs__item-answer p{
    margin: 0;
  }

  @media screen and (max-width:850px)
{
  .heading-h1-{{ section.id }}{
     margin: -15px;
     font-size:40px;
  }
   .heading3-h1-{{ section.id }}{
     margin: -15px;
     font-size:40px;
  }
  .heading2-h2-{{ section.id }}{
  font-size:21px;
}
  .container .heading-text {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
  .faq_box {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
}
  @media screen and (max-width:650px)
{
  .text-{{ section.id }}{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .heading-h1-{{ section.id }}{
  font-size:25px;
    margin:-9px
}
  .heading2-h2-{{ section.id }}{
  font-size:15px;
}
   .heading3-h1-{{ section.id }}{
  font-size:25px;
     margin:-9px
}
    .container .heading-text {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
    
}
  
 
{% endstyle %}
<div class="container container">
  <div class="heading-text">
    <div class="text-{{ section.id }}">
      <h1 class="heading-h1-{{ section.id }}">{{ section.settings.Heading_text_1 }}</h1>
    <h2 class="heading2-h2-{{ section.id }}">{{ section.settings.Heading_text_2 }}</h2>
    <h1 class="heading3-h1-{{ section.id }}">{{ section.settings.Heading_text_3 }}</h1>
    </div>
    
  </div>
  <div class="faq_box">
    {% assign section_blocks = section.blocks %}

  {% for block in section_blocks %}
   <div class="FAQ-sec1 ">
    <div class="c-faqs__items">
    <details class="c-faqs__item">
      <summary class="c-faqs__item-question">
        <h2>{{ block.settings.question}}</h2>
        <div class="icon">
           <img class="plus-icon" src="https://cdn.shopify.com/s/files/1/0870/1021/4194/files/add-line.png?v=1723399424 | image_url: width: 600 | image_tag">
           <img class="sub-icon" src="https://cdn.shopify.com/s/files/1/0870/1021/4194/files/subtract-line.png?v=1723397503 | image_url: width: 600 | image_tag">
        </div>
      </summary>
      
      <h3 class="c-faqs__item-answer">
       {{ block.settings.answer }}
      </h3>
    </details>
  </div>
  </div>
       
    <p>{{ block.settings.textItem }}</p>
  {% endfor %}
  </div>
    
</div>
{% schema %}
  {
    "name": "contact form 2 section 1",
    "settings": [
       {
          "type": "text",
          "id": "Heading_text_1",
          "label": "Heading text 1",
          "info": "Please enter text",
           
        },
        {
          "type": "text",
          "id": "Heading_text_2",
          "label": "Heading text 2",
          "info": "Please enter text",
           
        },
        {
          "type": "text",
          "id": "Heading_text_3",
          "label": "Heading text 3",
          "info": "Please enter text",
           
        },
    ],
    "blocks": [
      {
        "type": "accordion",
        "name": "accordion",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Please Enter text"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer",
            "default": "<p>Please Enter text</p>"
          },
        ]
      }
    ],
    "presets": [
    {
      "name": "contact form 2 section1"
    }
  ]
  }
{% endschema %}